<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <style>
      .card {
        margin-top: 10px;
      }
      .user {
        margin-right: 20px;
        text-align: left;
      }
      ul {
        list-style-type: none;
        padding-left: 0px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/ticket">Ticketing Application</a>
        <div class="d-flex justify-content-start">
          <button class="btn btn-primary user">
            {{user.first_name}} {{user.last_name}}
          </button>
          <button
            class="btn btn-primary"
            type="button"
            onclick="window.location.href='/';"
          >
            Logout
          </button>
        </div>
      </div>
    </nav>

    {% if not transaction_complete %}

    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Available tickets</h2>
              <br />
              <form action="transaction_post" method="POST">
                {% csrf_token %}
                <input
                  type="text"
                  id="data"
                  name="data"
                  value="{{data}}"
                  hidden
                />
                <ul>
                  {% for seat in data %}
                  <div class="card">
                    <li>
                      <label for="{{seat.id}}"
                        >{{seat.type}} Ticket: {{seat.name}} {{seat.amount}} x
                        ${{seat.price}} =
                      </label>
                      <input
                        type="number"
                        name="{{seat.name}}"
                        id="{{seat.id}}"
                        value="{{seat.price}}"
                        readonly
                      />
                    </li>
                  </div>
                  {% endfor %}
                  <div class="card">
                    <li>
                      <label for="sub_total">Subtotal: $</label>
                      <input
                        type="number"
                        name="sub_total"
                        id="sub_total"
                        value="{{sub_total|floatformat:2}}"
                        readonly
                      />
                    </li>
                    <li>
                      <label for="total">Total (after tax): $</label>
                      <input
                        type="number"
                        name="total"
                        id="total"
                        value="{{total|floatformat:2}}"
                        readonly
                      />
                    </li>
                    <li>
                      <label for="balance">Current Balance: $</label>
                      <input
                        type="number"
                        name="balance"
                        id="balance"
                        value="{{balance|floatformat:2}}"
                        readonly
                      />
                    </li>
                    <li>
                      <label for="after_balance">Balance After: $</label>
                      <input
                        type="number"
                        name="after_balance"
                        id="after_balance"
                        value="{{after_balance|floatformat:2}}"
                        readonly
                      />
                    </li>
                  </div>
                </ul>
                {% if no_funds %}
                <p>
                  Error: Cannot complete transaction due to insufficient funds
                </p>
                {% endif %}
                <button class="btn btn-primary" type="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endif %} {% if transaction_complete %}

    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Transaction Complete</h2>
              <h2 class="card-title">Transaction ID: {{trans_id}}</h2>
              <br />
              <form action="transaction_post" method="POST">
                {% csrf_token %}
                <h2>Tickets</h2>
                <ul>
                  {% for seat in data %}
                  <div class="card">
                    <li>
                      <label for="{{seat.id}}"
                        >{{seat.type}} Ticket: {{seat.name}} {{seat.amount}} x
                        ${{seat.price}} =
                      </label>
                      <input
                        type="number"
                        name="{{seat.name}}"
                        id="{{seat.id}}"
                        value="{{seat.price}}"
                        readonly
                      />
                    </li>
                  </div>
                  {% endfor %}
                  <br />
                  <br />
                  <div class="card">
                    <li>
                      <label for="total">Total (after tax): $</label>
                      <input
                        type="number"
                        name="total"
                        id="total"
                        value="{{total|floatformat:2}}"
                        readonly
                      />
                    </li>
                    <li>
                      <label for="after_balance">Current Balance: $</label>
                      <input
                        type="number"
                        name="after_balance"
                        id="after_balance"
                        value="{{after_balance|floatformat:2}}"
                        readonly
                      />
                    </li>
                  </div>
                </ul>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endif %}
  </body>
</html>
